.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img {
  width: 200px;       /* adjust size here */
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid black;  /* black border */
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-size: 600;
}
.hero h1 span{
   background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 480;
    margin-bottom: 50px;
}
.hero-connect{
  color: white;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
  padding: 14px 30px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
 
}

.hero-resume{
    padding: 15px 50px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor:  pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    border-color: #B415FF;
}
.hero-action a {
  text-decoration: none !important;
  color: white !important;
}




